.App {
  text-align: center;
  color: hsl(191deg 16% 74%);
}

h2 {
  border-bottom: 1px solid hsl(191deg 16% 54%);
  color: hsl(191deg 16% 54%);
  width: fit-content;
  margin: 12px auto;
  padding: 12px 0px;
}

.ilustration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
}

img {
  height: 200px;
  box-sizing: border-box;
}

img:nth-of-type(1) {
  padding: 20px;
  opacity: 0.6;
}

img:nth-of-type(2) {
  padding: 8px;
}

.plus {
  color: hsl(191deg 16% 54%);
  font-size: 48px;
  font-weight: bold;
  padding: 23px;
}

body {
  padding: 32px;
  font-family: 'Hack', monospace;
  background-color: hsl(190deg 16% 22%);
}

button {
  border: none;
  font-family: 'Hack', monospace;
  font-size: 20px;
  width: 200px;
  height: 40px;
  background-color: hsl(190deg 17% 28%);
  color: hsl(191deg 16% 74%);
  box-shadow: 0px 2px 4px black;
  border-radius: 4px;
  transition: all 400ms;
}

button:hover {
  background-color: hsl(190deg 17% 38%);
  color: hsl(191deg 16% 84%);
}

button:disabled {
  background-color: hsl(190 16% 20% / 1);
  color: hsl(191 16% 47% / 1);
  box-shadow: none;
}

h1,
p {
  border: 1px solid hsl(191deg 16% 32%);
  border-radius: 4px;
  color: hsl(191deg 16% 74%);
  font-weight: normal;
  padding: 48px 24px;
  font-size: 22px;
  font-style: italic;
  margin: 48px 24px;
}
